<html lang="en" xmlns:th="http.thymeleaf.org">


<form class="w-75 p-3" th:fragment="createEditProjectsForm">
    <h4 id="FormTitle">Create Project:</h4>
    <br>
    <div style="padding-left:100px;">
        <input type="hidden" name="id" value="">
        <div class="form-group">
            <label for="projectName">Project Name:</label>
            <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Project Name" required >
        </div>
        <div class="form-group">
            <label for="projectDes">Project Description:</label>
            <textarea class="form-control" id="projectDes" name="projectDesc" rows="4" ></textarea>
        </div>
        <div class="form-group">
            <label for="projectEST">Project Estimation Time (Hrs):</label>
            <input type="number" class="form-control" id="projectEST" name="projectTimeEst">
        </div>
        <div class="form-group">
            <label for="projectAct">Project Actual Time (Hrs):</label>
            <input type="number" class="form-control" id="projectAct" name="projectTimeTaken">
        </div>
        <div align="center" id="logErrors">
            <p style="font-size: 20; color: #FF1C19;"></p>
        </div>
        <div class="form-group">
            <button type="button" id="submit" class="btn btn-secondary btn-block" >Create Project</button>
        </div>
    </div>
</form>